*.o
/ex1/ex1
/ex2/ex2
/ex3/redirect
/ex3/server
/ex4/simplefs
/ex4/log.txt
/ex4/dir/*
/ex5/a.out
/ex5/report/report.aux
/ex5/report/report.dvi
/ex5/report/report.log
/ex6/app
/ex6/report/report.aux
/ex6/report/report.dvi
/ex6/report/report.log
/thread_sample/a.out

